fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
bcrypt
pyjwt
python-dotenv
chromadb>=0.4.15
sentence-transformers
rank-bm25
unstructured[all-docs]
llama-index-core
nltk
google-generativeai
streamlit
ragas
datasets
pandas
httpx
requests
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
python-jose[cryptography]
